<p id="notice"><%= notice %></p>

<h1 style="margin: 1rem;">Books</h1>

<table>
 
    <div class="row" style="margin: 1rem;">
      <% @books.each do |book| %> 
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <%= image_tag(book.image, class:"card-img-top") if book.image.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-subtitle"><%= book.author.name%></p>
            <p class="card-text"><%= book.descr%></p>
            <%= link_to 'Show', book, class:"btn btn-outline-primary"%>
            <%= link_to 'Edit', edit_book_path(book), class:"btn btn-outline-primary"%>
            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-outline-primary"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>

</table>


