<!DOCTYPE html>
<html>
  <head>
    <title>Course Scheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg  bg-dark ">
    <div style="margin: 0.5rem"><%= link_to 'All Courses', books_path, class:"btn btn-primary"%></div>
    
    <% if current_user && current_usier.admin %>
      <%= link_to 'Add Course', new_book_path, class:"nav-link "%>
    <% end %>
      <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"float-right btn btn-success"%>
      <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success"%>
      <%= link_to 'Sign In', new_user_session_path, style: 'float: right', class:"float-right btn btn-success "%>
      <% end %>
  </nav>
  
  <%= render 'layouts/alerts' %>
   
    <%= yield %>
  </body>
</html>